/** COMMON **/
html{
    font-size : 10px;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}
sup {font-size:xx-small; vertical-align:super;}

body{
    background-color: $black;
    color : $white;
    font-family: 'Chelsea Market', cursive;
}

*::selection{
    @include blackOnWhite();
}
