
/* --- COMMON --- */

html{
    font-size : 13px;

    @include responsiveW(1600px){
        font-size: 10px;
    }
    
    @include responsiveW(900px){
        font-size: 9px;
    }
    
    @include responsiveW(400px){
        font-size: 8px;
    }
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}
sup {font-size:xx-small; vertical-align:super;}

body{
    background-color: $light;
    color : $dark;
    font-family: $font;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    @include responsiveW(900px){
        height: auto;
    }
    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    padding : 1rem 0;
    margin-bottom: 3rem;
    width: 45%;
    @include responsiveW(1250px){
        width: 55%;
    }

    @include responsiveW(1050px){
        width: 60%;
    }

    @include responsiveW(950px){
        width: 65%;
    }

    @include responsiveW(850px){
        width: 70%;
    }

    @include responsiveW(750px){
        width: 70%;
    }

    @include responsiveW(900px){
        margin-bottom: 2rem;
    }
}

*::selection{
    @include lightOnDark();
}

a{
    color : $dark;
    
    text-decoration: none;

    &:hover{
        color : $dark;
        text-decoration: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $dark;
  box-shadow: 0 0 0px 1000px $light inset;
  transition: background-color 5000s ease-in-out 0s;
}

.noscript{
    @include lightOnDark;
    user-select: none;
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    p{
        font-size: 2rem;
    }

}


.error{
    width: 100%;
    text-align: center;
    position: relative;

    p{
        width: max-content;
        margin: 2rem auto 1rem auto;
        position: relative;
        font-size: 2rem !important;

        &::before, &::after{
            content: '\26A0';
            position: absolute;
            font-size: 3rem;
            top: 50%;
            transform: translateY(-50%);
        }

        &::before{
            left : -4rem;
        }

        &::after{
            right: -4rem;
        }
    }
    
}