@mixin darkOnLight(){
    color : $dark;
    background-color: transparentize($color: $light, $amount: 0.01);
}

@mixin lightOnDark(){
    color : $light;
    background-color: transparentize($color: $dark, $amount: 0.01);
}


@mixin responsive($maxwitdh,$minwidth : 0){
    @media screen and (max-width : $maxwitdh) and (min-width : $minwidth){
        @content;
    }
}

@mixin header_mobile_left(){
    header{
        @include responsive(900px){
            text-align: left;
            padding-left: 1rem;
        }
    }
}