@mixin whiteOnBlack(){
    color : $white;
    background-color: $black;
}

@mixin blackOnWhite(){
    color : $black;
    background-color: $white;
}


@mixin selection() {
    @if background-color = $black {
        @include blackOnWhite();
    }@else{
        @include whiteOnBlack();
    }
}