@mixin whiteOnBlack(){
    color : $secondary;
    background-color: transparentize($color: $primary, $amount: 0.01);
}

@mixin blackOnWhite(){
    color : $primary;
    background-color: transparentize($color: $secondary, $amount: 0.01);
}


