// Colors

// $light : rgb(47, 52, 55);
// $dark : darken(white,20);

// $light : darken(white,20);
// $dark : rgb(13, 13, 110);

$light : #FFFFFF;
$dark :#1d3461;
$shadow : transparentize($color: $dark , $amount: 0.8);
$editor : #EEEEEE;

$font : 'Chelsea Market',cursive;
