/* --- BUTTONS --- */

.btn{
    outline: none;
    cursor: pointer;
    margin: auto;
    padding:0.8rem 1.5rem;
    font-family: $font;
    border-radius: 3rem ;
    border : none;
    transition: bax-shadow 250ms, transform 200ms;
    @include lightOnDark;
    font-size: 1.1rem;

    a{
        @include lightOnDark;
        display: inline-block;
        width: 100%;
    }

    &:hover:not(:disabled){
        box-shadow: 0 0 20px 5px $shadow;
        transform: scale(1.1);
    }

    &:active:not(:disabled){
        transform : scale(1.1) translateY(5px);
    }

    &:disabled{
        transform: scale(.8);
        background-color: darken($color: $dark, $amount: 10);
        cursor: not-allowed;
    }
}