// /* --- FORMS --- */

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem 2rem 4rem;
  font-size: 2rem;
  justify-content: space-around;

  .form-input-text, .btn ,.cbx{
    margin : 1.8rem;
    width : 20rem;
  }

  .btn{
    min-width: 20rem;
  }

 
  .tooltip{
    
    width: 100%;
    
    .tooltip-tip{
      @include lightOnDark;
      max-width: 100%;
      transform: translateX(-50%);
      top: 120%;
      left: 0;
      bottom: unset;
      transform-origin: center;


      &:before{
        @include lightOnDark;
      }
    }
  }
}



  
  





