header{
    width: 90%;
    //height : 15vh;
    text-align: center;
    //border-bottom: red 1px solid;;
    margin-bottom: 1rem;

    h1{
        font-weight: bold;
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }
}

footer{
    height: max-content;
    padding: 1rem;;
}