/* NAV */

header nav{
    position: absolute;
    top: 0;
    right: 2rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: fit-content;

    @include responsive(900px){
        padding-top: 3rem;
        align-items: flex-start;
    }

    a,a:hover,img{
        font-size: 2rem;
        margin : 0 1rem;
        color : $light;

        
    }

    img{
        height: 2.5rem;
        width: 2.5rem;
    }

    


}

