#dashboard {

    
    header{
        @include responsive(900px){
            text-align: left;
            padding-left: 1rem;
            
        }
    }
    

    main{
        flex-direction: column;

        form{
            flex-direction: row;
        }

        

        .section{
            width: 100%;
            border: none;
            position: relative;
            padding-top: 5rem;
            display: flex;
            flex-direction: row;

            @include responsive(900px){
                flex-direction: column;
            }

            h2{
                position: absolute;
                top: 0;
                left: 0;
                padding: 1rem;
                font-size: 2.5rem;
            }

            table{

                tbody{
                    max-width: 100%;
                    width: 100%;
                }
                width: 100%;
                @include responsive(600px){
                    width: 90%;
                    max-width: 90%;
                }
                height: 100%;
                font-size: 1.5rem;
                margin: auto;
                th{
                    font-size: 2rem;
                    @include lightOnDark;
                }
                td,th{
                    border: 1px solid $dark;
                    padding: 1rem;
                    
        
                    &:first-child{
                        width: 75%;
                        max-width: 75%;
                        text-align: left;

                        a{
                            word-break: break-all;
                            max-width: 100%;
                            width: 100%;
                        }

                    }
        
                    &:last-child{
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }
        }

    }


}