#index {
  main {
    position: relative;

    @include responsiveW(200000px,1350px){
      width: 100%;
      
    }
    
    article {
      position: relative;
      width: 60%;
      padding: 3rem;
      height: 52rem; // Change that if the picture height change

      @include responsiveW(1350px) {
        display: none;
      }

      h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem
      }

      p {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      img {
        width: 95%;
        margin-top: 3rem;
        //border: 1px $dark solid;
        box-shadow: 0px 0px 20px 10px $shadow;
      }
    }


    .form {
      width: 45%;
      //min-width: 62rem;
      margin-right: 3rem;

      @include responsiveW(1350px){
        margin-right: unset;
      }

      @include darkOnLight;
      border-radius: 10px;
      //border: $dark 1px solid;
      box-shadow: 0 0 20px 10px $shadow;

      @include responsiveW(1350px) {
        width: unset;
      }

      @include responsiveW(900px) {
        border: none;
        box-shadow: none;
        min-width: unset;
      }

      
      &.signup {
        flex-direction: row;
        flex-wrap: wrap;

        h1 {
          width: 100%;
        }

        .btn{
          margin: 1.8rem 30%;
        }

      }

      p {
        font-size: 1.5rem;
      }

      h1 {
        margin-bottom: 2rem;
        font-size: 3.6rem;
        text-align: center;
      }


    }


  }
}