#index{
    main{

        width: 90%;


        article{
            width: 70%;

            h2{
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom :  2rem
            }

            p{
                font-size: 2rem;
                line-height: 2.5rem;
            }

            img{
                width: 90%;
                margin: 1rem;
                border : 1px $dark solid;
                box-shadow: 0px 0px 20px 10px $shadow;
            }
        }


        .form{
            
            @include darkOnLight;
            border-radius: 10px;
            border : $dark 1px solid;
            width: min-content;

            @include responsiveW(900px){
                border: none;
                padding: 0;
            }
          
            &.signup{
              flex-direction: row;
              flex-wrap: wrap;
              width: 50%;
          
              h1{
                width: 100%;
              }
          
              
            }
            
            p{
              font-size: 1.5rem;
            }
            
            h1 {
              margin-bottom: 2rem;
              font-size: 3.6rem;
              text-align: center;
            }
          
            
          }
          
        
    }
}