/* --- PROJECT --- */

#project{
    height: unset;
    justify-content: flex-start;
    
    footer{
        display: none;
    }

    @include header_mobile_left;

    main{
        position: relative;
        width: 100%;
        height: 59rem;
        margin-top: 1rem;

        @include responsive(900px){
            height: unset;
        }
        

        .md-syntax{
            position: absolute;
            top: 50%;
            left: 50%;
            transform : translate(-50%,-50%) scale(1);
            transition: opacity 350ms, z-index 0s 350ms;
            width: 80%;
            height: auto;
            color : $light;
            background-color: transparentize($color: darken($dark,10), $amount: 0.1);
            z-index: 10;
            padding : 5rem;
            display: flex;
            flex-direction: row;
            @include responsive(900px){
                flex-direction: column;
                align-items: center;
            }
            align-content: flex-start;
            flex-wrap: wrap;
            justify-content: space-around;
            z-index: -10;
            opacity: 0;
            border-radius: 25px;

                
            

            &.open{
                transition: opacity 350ms, z-index 0s;
                z-index: 10;
                opacity: 1;
            }

            

            #md-syntax-exit{
                position: absolute;
                top: 2rem;
                right: 2rem;
                height: fit-content;
                width: fit-content;
                font-size: 4rem;
                transition: all 450ms;
                cursor: pointer;
                user-select: none;

                &:hover{
                    transform: rotate(180deg);
                }
            }

            h2{
                font-size: 3.4rem;
                font-weight: bold;
                width: 100%;
                margin-bottom: 6rem;
                padding-left: 3rem;
                @include responsive(900px){
                    text-align: center;
                    padding-left: unset;
                }
                &::selection{
                    @include darkOnLight;
                }
            }

            section{
                margin-bottom: 2rem;

                h3{
                    font-size: 2.5rem;
                    margin-bottom: 1rem;

                    @include responsive(900px){
                        text-align: center;
                    }

                    &::selection{
                        @include darkOnLight;
                    }
                }

                table{
                    font-size: 1.5rem;
                    td{
                        padding: 1rem;
                        &::selection, & sup::selection{
                            @include darkOnLight;
                        }
                    }
                }
            }
        }

        
        
        form{
            width: 100%;
            display: flex;
            flex-direction: row;
            @include responsive(900px){
                flex-direction: column;
            }
            justify-content: space-around;
            position: relative;
            height: 100%;
            transition: filter 450ms;
            filter: none;

            &.blurred{
                filter: blur(3px);
            }

            
            .buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 10%;
                @include responsive(900px){
                    width: 65%;
                    margin : auto
                }

                #btn-open{
                    display: none;
                    @include responsive(900px){
                        display: initial;
                    }
                }

                .btn{
                    width: 100%;
                    @include responsive(900px){
                        margin : 1rem auto;
                    }
                    height: auto;
                }
            }
            
            .editor,.viewer{
                display: flex;
                justify-content: center;
                width: 40%;
                margin : 0 auto;
                
                
            }
            
            .editor{
                position: relative;
                // overflow: hidden;
                @include responsive(900px){
                    width: 95%;
                    height: 60rem;
                }

                &.preview::after{
                    content: 'Preview';
                    position: absolute;
                    top: 0.5rem;
                    right: 2rem;
                    color : $light;
                    padding: 1rem;
                    background-color: transparentize($color: $dark, $amount: 0.2);
                    border-radius: 5px;
                    z-index: 10;
                    font-size: 1.5rem;
                    
                }
               
                &-input{
                    font-size: 1.5rem;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    overflow-wrap: anywhere;
                    padding: 2rem;
                    border : 1px solid $dark;
                    font-family: $font;
                    @include darkOnLight;
                    background-color: $editor;
                    border-radius: 5px;
                    
                    resize: none;
                    line-height: 2rem;
                    margin: 0;

                    &:focus{
                        outline: none;
                    }

                    &::selection{
                        @include lightOnDark;
                    }


                    &.preview{
                        position : relative;
                        z-index: 3;
                        text-align: justify;
    
                        h1,h2{
                            font-weight: bold;
                            font-size: 2.5rem;
                            margin: 2rem 0;
                        }
    
                        h3,h4{
                            font-weight: bold;
                            font-size: 1.8rem;
                            margin: 1.5rem 0;
                        }
    
                        h5,h6{
                            font-weight: bold;
                            font-size: 1.5rem;
                            margin: 1.5rem 0 .8rem 0 ;
                        }

                        span.np{
                            font-size: 2rem;
                        }
                    }
            
                    &.input{
                        padding-top: 6rem;
                        padding-bottom: 1rem;
                        position: relative;
                        z-index: 1;
                        + aside{
                            display: block;
                            
                        }
                    }
                }

                

                aside{
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0rem;
                    right: 0rem;
                    padding: 1rem 0.5rem;
                    z-index: 2;
                    background-color: transparentize($dark,0.1);
                    box-shadow: 0px 5px 10px 1px $shadow;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    button{
                        font-family: $font;
                        margin: 0 .5rem;
                        font-size: 1rem;
                        border: none;
                        border-radius: 2px;
                        @include darkOnLight;
                        padding : 0.4rem 0.5rem;
                        cursor: pointer;
                        img{
                            width: 100%;
                            height: 100%;
                        }

                        &:active{
                            transform: scale(1.05);
                        }
                    }

                    .tooltip-tip, .tooltip-tip::before{
                        @include lightOnDark;
                    }

                    #btn-bold{
                        font-weight: bold;
                    }

                    #btn-italic{
                        font-style: italic;
                    }

                }

            }

            .viewer{
                position: relative;
                border-radius: 6px;
                background-color: rgb(72, 72, 72);

                @include responsive(900px){
                    display: none;
                }

                &-wrapper{
                    border-radius: 5px;  
                    width: 100%;
                    border : 1px solid $dark;  
                    
                }

                .errors{
                    position: absolute;
                    display: none;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    @include lightOnDark;
                    border-radius: 6px;
                    //border : 2px solid $dark;
                    overflow: auto;

                    h2{
                        font-size: 3.5rem;
                        padding: 3rem;
                    }

                    &-list{
                        padding: 0 3rem;

                        h3{
                            font-size: 2rem;

                            &:after{
                                content: ' :';
                            }
                        }

                        p{
                            margin: 1rem;
                            padding: 0.5rem;
                            padding-left: 1rem;
                            font-size: 1.5rem;
                            
                            border-left: 1px solid $light;

                            .invalid_char{
                                font-size: 1.7rem;
                                border-bottom: 1px solid $light;
                            }
                        }

                        li{
                            &:not(:last-child){
                                margin-bottom: 2rem;
                            }
                        }

                    }
                }

            }
        }
    }
}