#settings{

    
    @include header_mobile_left;

    main{   

        display: flex;
        flex-direction: column;

        .btn{
            font-size: 1.3rem;
            width: 20rem;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding : 1rem 4rem;
            width: 100%;
        }

        section{
            padding: 2rem 5rem;
            padding-top: 4.5rem;
            margin: 1rem;
            font-size: 1.5rem;
            width: 100%;
            position: relative;
    
            h2{
                position: absolute;
                top : 1rem;
                left : 1rem;
                font-size: 2.5rem;
            }
    
            
            .form-input-text,.cbx{
                margin: 1.5rem 2%;
    
                &:not(:last-of-type){
                    width: 100%;
                }
    
                &:last-of-type{
                    width: 45%;
                    min-width: max-content;
                    
                }

                &:only-of-type:not(.cbx){
                    width: 100%;
                }
            }
    
            &.settings-firstpage{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
    
            &.settings-advanced{
           
                table{
                    width: 80%;
                    margin: auto;
                    margin-top: 1rem;
                    tr{
                        
                        td{
                            margin: 1rem 0;
                            @include responsive(900px){
                                display: block;
                            }
                            &:last-child{
                                display: flex;
                                justify-content: space-around;
                            }
        
                            &:first-child{
                                position: relative;
                                @include responsive(900px){
                                    width: max-content;
                                    margin: auto;
                                    margin-top: 2rem;
                                }
                                &::after{
                                    content: ':';
                                    position: absolute;
                                    right: -10px;
                                }
                            }
                        }
                    }
                }
            }

            &.settings-delete{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }

    

}